<table>
    <tr>
        <th>
            Nom
        </th>
        <th>
            Prénom
        </th>
        <th>
            Solde
        </th>
        <th id="edit_th">
            Créditer/débiter
        </th>
        <th id="space">
        </th>
        <th id="tooltip_th">
        </th>
    </tr>
    <tr *ngFor="let user of users">
        <td>
            {{ user.name }}
        </td>
        <td>
            {{ user.firstname }}
        </td>
        <td>
            {{ user.wallet }}
        </td>
        <td class="edit">
            <input (keyup)="getAmount($event)" type="text" #amount>
            <button (click)="edit($event,user.id,'+')">
               +
            </button>
            <button (click)="edit($event,user.id,'-')">
                -
            </button>
        </td>
        <td class="space">
        </td>
        <td class="tooltip">

        </td>
    </tr>
</table>
<h2 *ngIf="!dataReceived">Chargement...</h2>


<router-outlet></router-outlet>